* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 0 15px;
}

input {
  margin-top: 10%;
  width: 80%;
  padding: 8px;
  border-radius: 3px;
  border: 1.5px solid #d9d9d9;
  color: #7f7f7f;
  font-size: 14px;
}

input::placeholder {
  color: #7f7f7f;
}

.inner-wrapper {
  margin: 10% 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 25px;
}

img {
  width: 100%;
}

.lb-closeContainer {
  display: none;
}

.lb-data .lb-details {
  width: 100%;
  margin-top: 10px;
  text-align: center;
}

.lb-data .lb-caption {
  font-size: 14px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
}

#lightbox {
  top: 160px;
}

.lightbox .lb-image {
  border: none;
  border-radius: 0px;
}

.lightboxOverlay {
  background-color: #383838;
  opacity: .95;
}

@media (min-width: 768px) {

  .wrapper {
    padding: 0 35px;
  }

  .inner-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 35px;
  }

  input {
    margin-top: 10%;
    width: 60%;
    padding: 12px;
    border-radius: 3px;
    border: 1.5px solid #d9d9d9;
    color: #7f7f7f;
    font-size: 16px;
  }
}

@media (min-width: 1024px) {

  .wrapper {
    max-width: 980px;
    padding: 0;
  }

  .inner-wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 50px;
    margin: 7% 0;
  }

  input {
    margin-top: 7%;
    width: 50%;
    padding: 15px;
  }

  .lb-data .lb-caption {
    font-size: 20px;
  }

  .lb-data .lb-details {
    width: 600px;
    margin: 50px 100px;
    text-align: center;
  }
  
  .lb-nav {
    width: 1200px;
    margin-left: -200px;
  }
  
  .lb-nav a.lb-prev,
  .lb-nav a.lb-next {
    opacity: 1;
  }
}