///////////////// VARIABLES

$lightGrey: #d9d9d9;
$darkGrey: #7f7f7f;


///////////////// BASE PAGE STYLING

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.wrapper {
    width: 980px;
    margin: 0 auto;
    text-align: center;
}

input {
    margin-top: 5%;
    width: 500px;
    padding: 10px;
    border-radius: 3px;
    border: 1.5px solid $lightGrey;
    color: $darkGrey;
    font-size: 16px;
}

input::placeholder {
    color: $darkGrey;
}

.inner-wrapper {
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 60px;
}

img {
    width: 100%;
}

///////////////// STYLING LIGHTBOX PLUGIN

.lb-closeContainer {
    display: none;
}

.lb-data .lb-details {
    width: 600px;
    margin: 60px 100px;
    text-align: center;
}

.lb-data .lb-caption {
    font-size: 20px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
}

.lightbox .lb-image {
    border: none;
    border-radius: 0px;
}

.lightboxOverlay {
    background-color: #383838;
    opacity: .95;
}

.lb-nav {
    width: 1200px;
    margin-left: -200px;

    a.lb-prev,
    a.lb-next {
        opacity: 1;
    }
}
